<form class="div-add-list">
  <h3>Add New List</h3>
  <mat-form-field hideRequiredMarker>
    <mat-label>List Title</mat-label>
    <input
      matInput
      required
      [formControl]="titleControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. To Do"
      >
  </mat-form-field>
  <div class="pull-right">
    <button mat-raised-button (click)="createList()" [disabled]="!titleControl.valid">
      Create
    </button>
    &nbsp;
    <button mat-raised-button (click)="closeDialog()">
      Cancel
    </button>
  </div>
</form>
