<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Task-1
    </mat-panel-title>
    <mat-panel-description>
      21/08/2020
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div>
    <div class="row m-0 pt-1">
      <div class="col-5 p-0"><b>Created</b></div>
      <div class="col-7 p-0">21/08/2020</div>
    </div>
    <div class="row m-0 pt-3">
      <div class="col-5 p-0"><b>ECD</b></div>
      <div class="col-7 p-0">25/08/2020</div>
    </div>
    <div class="row m-0 pt-3">
      <div class="p-0"><b>Description</b></div>
    </div>
    <div class="row m-0">
      <div class="p-0">
        Description of task describing what needs to be done.
      </div>
    </div>
  </div>
</mat-expansion-panel>
