<mat-card class="list-item pb-5" cdkDrag>
  <mat-card-header>
    <mat-card-title class="ml-2">{{ list.title }}</mat-card-title>
    <button mat-icon-button matTooltip="Edit List Title" class="btn-list-edit"
      color="primary" (click)="openUpdateDialog()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Delete List" color="warn"
      (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <app-task [list]="list"></app-task>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <app-add-task [list]="list"></app-add-task>
    </div>
  </mat-card-actions>
  <div class="list-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</mat-card>
