<mat-card class="list-item pb-5">
  <mat-card-header>
    <mat-card-title>{{ list.title }}</mat-card-title>
    <button mat-icon-button matTooltip="Edit List Title" class="btn-list-edit"
      color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Delete List" color="warn"
      (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <app-task></app-task>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <app-add-task></app-add-task>
    </div>
  </mat-card-actions>
</mat-card>
