/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dadbd3;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.pull-right {
  float: right;
}

.width-100 {
  width: 100%;
}

.height-50 {
  height: 50%;
}
